<div class="form-group">
    <label for="title">I'm planning for:</label>
    <input type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="time">My timeframe is:</label>
    <input type="text" name="time" id="time" class="form-control">
</div>
<div class="form-group">
    <label for="description">A short description</label>
    <textarea type="text" name="description" id="description" class="form-control"></textarea>
</div>
<button type="submit" class="btn">Create</button>

