<%- include('../partials/header'); -%>
<h2>My New Plan</h2>
<form action="/activities" method="POST">
    <div class="form-group">
        <label for="title">I'm planning for:</label>
        <input type="text" required name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="time">My timeframe is:</label>
        <input type="text" name="time" id="time" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">A short description</label>
        <textarea type="text" required name="description" id="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="time">My preferred contact</label>
        <input type="text" required name="contact" id="contact" class="form-control">
    </div>
    <button type="submit" class="btn">Create</button>
</form>
<%- include('../partials/footer'); -%>