<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Manage your plans and goals</h2>
    <h3>And check out what your friends have to offer!</h3>
    <a href="/activities" class="btn">View Activities</a>
  </div>
</header>


<%- include('partials/footer'); -%>