<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Hit the Gym</h4>
    <p>Hoping to work out with y'all and get fit together in March!</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Off-campus housemates</h4>
    <p>Hey I'm looking for housemates for junior year and I'm thinking about living near fox point. Respond if you are interested!</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Trip to Hamburg, Germany</h4>
    <p>I'm planning a budget graduation trip with Sarah and Ben to Hamburg in June, let us know if you want to join as well! Spots for 2 :)</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Project partner for CS32</h4>
    <p>Looking for responsible CS friends for project Star :'(</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Nake donut run</h4>
    <p>Shhhhhhh</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Blueno memorial photo</h4>
    <p>Alex and I are going to take photos in front of blueno before they move him away :( Join us Jul.3rd 4pm!</p>
  </li>
</ul>

<%- include('partials/footer'); -%>